<div class="main">
  <div class="title">
  <a routerLink="/projects">Web<br>Projects</a>
  <a routerLink="/services">Web<br>Services</a>
  </div>
  <div class="Services">
  <a><img src="/src/assets/bg.jpg">Web<br>Development</a>
  <a><img src="/src/assets/bg.jpg">Web<br>Design</a>
  <a><img src="/src/assets/bg.jpg">Graphic<br>Design</a>
  <a><img src="/src/assets/bg.jpg">Advertising</a>
  <a><img src="/src/assets/bg.jpg">SEO<br>Optimization</a>


  </div>
<router-outlet></router-outlet>   
  </div>