
  <div class="text">
      <h1>Web Studio</h1>
      <p>Vivamus a magna gravida, auctor metus id, pellentesque diam. Pellentesque molestie auctor vulputate. Quisque non ante blandit, placerat eros vitae, finibus risus. Vestibulum a turpis eget lacus rutrum scelerisque vel sed enim. Nullam nec enim hendrerit, tristique urna eu, volutpat nisi. Maecenas interdum facilisis ligula sed maximus. Vestibulum gravida quis massa id ultrices. Fusce bibendum nibh eu eros euismod, eu sollicitudin enim aliquet. Nulla eget aliquam erat. Aliquam at ipsum nisl. Mauris varius auctor arcu et varius. Sed nunc est, fringilla in rhoncus ut, efficitur quis augue. Vestibulum sed vestibulum arcu, sed placerat erat.
    a imperdiet aliquet, massa metus pulvinar risus, eleifend feugiat lacus nisi eget enim. Aliquam dui ligula, dapibus ut faucibus ut, sollicitudin in mi. Aenean dictum vulputate eros sed mattis. Donec a cursus nibh. Nulla placerat id libero vitae egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in lorem id dui hendrerit maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ornare turpis vel elit euismod accumsan. Curabitur euismod aliquet est, quis laoreet velit tempor ut.        
        Sed mattis suscipit justo et vulputate.</p>

  </div>
  <div class="emp">
    
      <a *ngFor="let employee of employees"><img src="{{employee.img_url}}"> {{employee.name}}  {{employee.lastname}}<br>{{employee.age}}<br>{{employee.profession}}</a>
 
  </div>
     
